<h2>Create your profile</h2>
<br/>
<div class="well">
  <form name="detailForm" role="form" class="bs-example form-horizontal">
    <fieldset>
	  <div class="control-group">
	    <label class="control-label" for="firstname">First Name</label>
	    <input ng-readonly="profile.firstName" class="form-control" id="firstname" name="firstname" ng-model="profile.firstName" placeholder="Enter first name" required>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="lastname">Last Name</label>
	    <input ng-readonly="profile.lastName" class="form-control" id="lastname" name="lastname" ng-model="profile.lastName" placeholder="Enter last name" required>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="age">Age</label>
	    <input type="number" ng-maxlength=20 class="form-control" id="age" name="age" ng-model="profile.age" placeholder="Enter age" required>
	    <span ng-show="detailForm.age.$error.required" class="help-inline">Required</span>
	    <span ng-show="detailForm.age.$error.number" class="help-inline">Not a Number</span>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="email">Email</label>
	    <input ng-readonly="profile.email" class="form-control" id="email" name="email" ng-model="profile.email" placeholder="Enter email" required>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="phone">Phone</label>
	    <input type="number" ng-maxlength=11 class="form-control" id="phone" name="phone" ng-model="profile.phone" placeholder="Enter phone" required>
	    <span ng-show="detailForm.phone.$error.required" class="help-inline">Required</span>
	    <span ng-show="detailForm.phone.$error.number" class="help-inline">Not a Number</span>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="city">City</label>
	    <input type="text" class="form-control" id="city" name="city" ng-model="profile.city" placeholder="Enter city" required>
	    <span ng-show="detailForm.city.$error.required" class="help-inline">Required</span>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="state">State</label>
	    <input type="text" ng-maxlength=2 class="form-control" id="state" name="state" ng-model="profile.state" placeholder="Enter state" required>
	    <span ng-show="detailForm.state.$error.required" class="help-inline">Required</span>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="zip">ZIP</label>
	    <input type="number" ng-maxlength=5 class="form-control" id="zip" name="zip" ng-model="profile.zip" placeholder="Enter ZIP" required>
	    <span ng-show="detailForm.zip.$error.required" class="help-inline">Required</span>
	    <span ng-show="detailForm.zip.$error.number" class="help-inline">Not a Number</span>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="appdate">Application Date</label>
	    <input type="text" ng-maxlength=10 class="form-control" id="appdate" name="appdate" ng-model="profile.applications.date" placeholder="Enter Date" required>
	    <span ng-show="detailForm.date.$error.required" class="help-inline">Required</span>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="appdesc">Application Description</label>
	    <textarea type="text" class="form-control" id="appdesc" name="appdesc" ng-model="profile.applications.desc" placeholder="Enter Description"></textarea>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="apptdate">Appointment Date</label>
	    <input type="text" ng-maxlength=10 class="form-control" id="apptdate" name="apptdate" ng-model="profile.appointments.date" placeholder="Enter Date" required>
	    <span ng-show="detailForm.date.$error.required" class="help-inline">Required</span>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="apptdesc">Appointment Description</label>
	    <textarea type="text" class="form-control" id="apptdesc" name="apptdesc" ng-model="profile.appointments.desc" placeholder="Enter Description"></textarea>
	  </div>

      <br />
	
	  <button type="button" ng-click="cancel()" class="btn btn-info">Cancel</button>
	  <button type="button" ng-click="save()" class="btn btn-info">Save</button>
    </fieldset>
  </form>
</div>