<div>
  <h2>How can we help you?</h2>
  <div class="input-group">
    <input type="text" ng-model="search" class="search-query" placeholder="Enter a question">
  </div>
  <br/>
  <h2>Find a form</h2>
  <table class="table table-striped table-bordered table-hover">
    <thead>
	  <tr>
	    <th>Form</th>
		<th>Description</th>
		<th>Fee</th>
		<th>Get more info</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="form in forms | filter:search">
		<td class="pad">{{form.form}}</td>
		<td class="pad">{{form.desc}}</td>
		<td class="pad">${{form.fee}}</td>
		<td class="pad"><a href="{{form.url}}">{{form.url}}</a></td>
	  </tr>
    </tbody>
  </table>
  <br/>
  <h2>Track your status</h2>
  <a href="">Sign In</a> or <a href="/create">Create a Profile</a>
</div>