<div>
  <div class="input-group">
    <input type="text" ng-model="search" class="search-query" placeholder="Search">
  </div>
  <br/>
  <table>
    <thead>
	  <tr>
	    <th>Name</th>
		<th>Age</th>
		<th>Email</th>
		<th>Phone</th>
		<th>City</th>
		<th>State</th>
		<th>Zip</th>
		<th>Application</th>
		<th>Appointment</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="applicant in applicants | filter:search | orderBy:['applicant.lastName','applicant.firstName']">
		<td class="pad">{{applicant.lastName}}, {{applicant.firstName}}</td>
		<td class="pad">{{applicant.age}}</td>
		<td class="pad">{{applicant.email}}</td>
		<td class="pad">{{applicant.phone}}</td>
		<td class="pad">{{applicant.city}}</td>
		<td class="pad">{{applicant.state}}</td>
		<td class="pad">{{applicant.zip}}</td>
		<td class="pad">{{applicant.applications.desc}}</td>
		<td class="pad">{{applicant.appointments.desc}}</td>
	  </tr>
    </tbody>
  </table>
  <br/>
  <a href="/create" class="btn btn-primary">Create New</a>
</div>